#recipient-name {
    width: 70%; 
    float: right;
    margin-right: 10px;
}
#recipient-email {
    width: 70%; 
    float: right;
    margin-right: 10px;
}
#recipient-number {
    width: 70%; 
    float: right;
    margin-right: 10px;
}
.custom-flex-container {
    display: flex;
    align-items: center;
}

.form-control {
    flex: 1; /* Take up the remaining space */
}

.col-form-label {
    width: 80px; /* Set a fixed width for the label */
    margin-left: 10px; /* Add some margin for spacing */
}
.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Optional: This centers the table vertically on the page */
}

/* Decrease table size */
.table {
    width: 50%; /* Adjust the width as needed */
    margin: auto; /* Center the table horizontally within its container */
}
